<div class="specific-book">
	<div class="upper-half">
		<img src="<%= book[0].imagem %>" class="img-fluid img-thumbnail">
		<div class="informacao">
			<h3 class="item"><%= book[0].titulo %></h3>
			<h3 class="item"><%= book[0].autor %></h3>
			<h3 class="item"><%= book[0].data %></h3>
			<h3 class="item"><%= book[0].paginas %></h3>

			<div class="buttons">
				<a class="btn btn-primary">Empréstimo</a>
			</div>	
		</div>
	</div>

	<div class="bottom-half">
		<div>
			<p><%= book[0].sinopse %></p>
		</div>
	</div>
</div>
