<div class="layout">
<% books.forEach(function(book) { %>
	<div class="book border">
		<div class="upper-half">
			<img src="<%= book.capa %>" alt="<%= book.title %>" class="img-fluid img-thumbnail">
			<div class="informacao">
				<h3 class="item">Titulo: <%= book.title %></h3>
				<h3 class="item">Autor: <%=  book.autor %></h3>
				<h3 class="item">ISBN: <%= book.ano %></h3>
				<form action="/api/deleteEmprestimo" method="post" class="buttons">
					<input type="hidden" value="<%= emprestimos[0]._id %>" name="id">
					<input type="submit" class="btn btn-primary" value="Devolver">
				</form>
			</div>
		</div>
	</div>
<% }); %>
</div>
