<div class="layout">
<% books.forEach(function(book) { %>
	<div class="book border">
		<div class="upper-half">
			<img src="<%= book.capa %>" alt="<%= book.title %>" class="img-fluid img-thumbnail">
			<div class="informacao">
				<h3 class="item">Titulo: <%= book.title %></h3>
				<h3 class="item">Autor: <%=  book.autor %></h3>
				<h3 class="item">ISBN: <%= book.ISBN %></h3>
				
				<% if (user) { %>
					<% if (user.estado === 'ok') { %>
				<form action="http://localhost:3000/api/gerarEmprestimo" method="post" class="buttons">
					<input type="hidden" value="<%= book._id %>" name="id">
					<input type="submit" class="btn btn-primary" value="Empréstimo">
				</form>
					<% } else { %>
						<h3 class="item text-danger">Existem livros pendentes</h3>
					<% } %>
				<% } %>
			</div>
		</div>
	</div>
<% }); %>
</div>
